<% if @breadcrumbs.present? %>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <% if @main_title.present? %>
            <h2><%= @main_title || '' %></h2>
          <% end %>
        </div>
        <div class="col-sm-6">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><%= link_to('Главная', root_path, data: { turbo: false }) %></li><%# TODO: разобраться почему перестаёт работать PushMenu с turbo %>

              <% @breadcrumbs.each do |item| %>
                <% if @breadcrumbs.last == item %>
                  <li class="breadcrumb-item active" aria-current="page"><%= item[:title] %></li>
                <% elsif item[:path].blank? %>
                  <li class="breadcrumb-item"><%= item[:title] %></li>
                <% else %>
                  <li class="breadcrumb-item"><%= link_to(item[:title], item[:path]) %></li>
                <% end %>
              <% end %>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
<% end %>